[project]
name = "plato-sdk"
version = "1.0.41"
description = "Plato SDK"
readme = "README.md"
authors = [
    { name = "Pranav Putta", email = "pranav@plato.so" },
    { name = "Rob Farlow", email = "rob@plato.so" },
]
requires-python = ">=3.10"
dependencies = [
    "aiohttp>=3.11.13",
    "openai>=1.70.0",
    "pydantic>=2.10.6",
    "pydantic-settings>=2.8.1",
]

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[tool.hatch.build.targets.wheel]
packages = ["src/plato"]

[tool.uv.workspace]
members = ["example"]

[dependency-groups]
dev = [
    "playwright>=1.50.0",
]
